
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.home{
    display: flex;  
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F0F1F3;
}

.mid{
    display: flex;
    position: relative;
    justify-content: center;
    left: 7vw;
    bottom: 95vh;
}

.container{
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    width: 60vw;
    border-radius: 5px;
}

.textos{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    width: 30vw;
    text-align: center;
    padding-left: 2vw;
    
}

.textos h1{
    background: linear-gradient(100deg, #009ED8, #0ACF83);
    -webkit-background-clip: text; /* Aplica o degradê apenas ao texto */
    -webkit-text-fill-color: transparent; /*deixa o fundo transparente*/
}

.textos p{
    font-size: 1.3em;
    color: black;
}

.grid{
    display: flex;
    position: relative;
    justify-content: space-around; 
    left: 16.5vw;
    bottom: 83vh;
    background-color: #F0F1F3;
    height: 26vh;
    width: 80vw;
}