

.container{
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    width: 60vw;
    border-radius: 5px;
}

.textos{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    width: 30vw;
    text-align: center;
    padding-left: 2vw;
    
}

.textos h1{
    background: linear-gradient(100deg, #009ED8, #0ACF83);
    -webkit-background-clip: text; /* Aplica o degradê apenas ao texto */
    -webkit-text-fill-color: transparent; /*deixa o fundo transparente*/
}

.textos p{
    font-size: 1.3em;
    color: black;
}

